---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
---
<h3> Elija Sorensen</h3>
<ul>
	<li>is an entrepreneur and computer programmer;</li>
	<li>
		puts photos on
		<a href='http://www.instagram.com/whiskeytuesday'>Instagram</a>
		and
		<a href='http://www.500px.com/whiskeytuesday'>500px;</a>
	</li>
	<li>
		pushes
		<a href='http://www.github.com/whiskeytuesday?tab=repositories'>things</a>
		to Github, but all of his impressive code is in private repositories;
	</li>
	<li>
		doesn't quite understand what
		<a href='https://ca.linkedin.com/in/elija-sorensen-04a5136b'>LinkedIn</a>
		is for;
	</li>
	<li>
		used to make videos on YouTube as
		<a href='https://www.youtube.com/themfnfox'>TheMFnFox,</a>
		but took them down;
	</li>
	<li>
		made another YouTube channel at
		<a href='https://www.youtube.com/channel/UCGJyTgd6nyVA6yHmyce9p7Q'>
			WhiskeyTuesday,</a>
		but eventually took those down too;</li>
	<li>
		<a href='http://www.twitter.com/whiskeytuesday'>tweets</a> occasionally;
	</li>
	<li>
		designs some
		<a href='http://www.redbubble.com/people/ersorensen/shop'>
			tee shirts and stuff</a> sometimes;
	</li>
	<li>is probably forgetting some other things he should put on here.</li>
</ul>
{% set maxPosts = collections.posts.length | min(3) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
