---
title: Elija Sorensen dot com
---

.heading
  Elija Sorensen
#things
  %ul
    %li
      puts photos on
      %a(href="www.intagram.com/whiskeytuesday")Instagram
      and
      %a(href="www.500px.com/whiskeytuesday")500px;
    %li
      pushes
      %a(href="www.github.com/whiskeytuesday?tab=repositories")things
      to Github;
    %li
      doesn't quite understand what
      %a(href="https://ca.linkedin.com/in/elija-sorensen-04a5136b") LinkedIn
      is for;
    %li
      used to make videos on youtube, but took them down;
    %li
      %a(href="www.twitter.com/whiskeytuesday")tweets
      occasionally;
    %li
      is bootstrapping a
      %a(href="www.foldtech.ca")mobile building
      company;
    %li
      designed some
      %a(href="http://www.redbubble.com/people/ersorensen/shop") tee shirts
      ;
    %li
      is probably forgetting some things he should put on here.
