---
title: Elija Sorensen dot com
---

.heading
  Elija Sorensen
#things
  %ul
    %li
      puts photos on
      %a(href="http://www.instagram.com/whiskeytuesday")Instagram
      and
      %a(href="http://www.500px.com/whiskeytuesday")500px;
    %li
      pushes
      %a(href="http://www.github.com/whiskeytuesday?tab=repositories")things
      to Github;
    %li
      doesn't quite understand what
      %a(href="https://ca.linkedin.com/in/elija-sorensen-04a5136b") LinkedIn
      is for;
    %li
      used to make videos on YouTube as
      %a(href="https://www.youtube.com/themfnfox")TheMFnFox,
      but took them down;
    %li 
      recently made another YouTube channel at
      %a(href="https://www.youtube.com/channel/UCGJyTgd6nyVA6yHmyce9p7Q") WhiskeyTuesday,
      might start making videos semi-regularly again;
    %li
      %a(href="http://www.twitter.com/whiskeytuesday")tweets
      occasionally and wrote a 
      %a(href="https://medium.com/@WhiskeyTuesday")post
      on medium once;
    %li
      is bootstrapping a
      %a(href="http://www.foldtech.ca")mobile building
      company;
    %li
      works as a PA in the Vancouver film Industry sometimes,
      %a(href="mailto:elija.sorensen@gmail.com")email him if you want to see his resume;
    %li
      designed some
      %a(href="http://www.redbubble.com/people/ersorensen/shop") tee shirts
      one time;
    %li
      is probably forgetting some other things he should put on here.
